body {
    margin: 0;
    padding: 0;
}

:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;

    /* size */
    --base-margin: 8px;
    --size-button: 60px;
    --size-border: 10px;
    --size-thumnail: 50px;
    --size-image: 50px;
    --font-size-title: 1.3rem;
    --font-size: 1rem;
    --box-size: 60%;

    /* animation */
    --animation-duration: 300ms;
}

li {
    list-style: none;
}
/* navbar 콘테이너 시작 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
}
/* navbar title 시작 */
.navbar__title {
    display: flex;
    font-size: var(--font-size-title);
}
.navbar__title > li {
    padding: var(--base-margin) var(--base-margin);
}
.navbar__title .fab {
    color: var(--color-pink);
}

/* navbar 리스트 시작 */
.navbar__list {
    display: flex;
    font-size: var(--font-size);
    justify-content: space-between;
}

.navbar__list a {
    padding: 10px 20px;
    border-radius: 4px;
}

.navbar__list > li :hover {
    background-color: var(--color-pink);
}

/* navbar 아이콘 시작 */
.navbar__icons {
    display: flex;
    justify-content: space-between;
}

.navbar__icons > li {
    padding-right: 20px;
}
@media screen and (min-width: 769px) {
    /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
}

@media screen and (max-width: 768px) {
    /* 모바일에 사용될 스트일 시트를 여기에 작성합니다. */
    ul {
        margin: 0;
        padding: 0;
    }
    .navbar {
        flex-direction: column;
    }
    .navbar__title {
        justify-content: start;
        width: 100%;
    }
    .navbar__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 8px 24px;
    }
    .navbar__list > li {
        width: 100%;
        text-align: center;
    }
    .navbar__list > li > a {
        display: block;
        width: 100%;
        text-align: center;
    }
    .navbar__icons {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 5px 5px;
    }
    .navbar__icons li {
        padding: 5px;
        text-align: center;
    }
}
